{% extends 'header.html' %} {% block title %}Subject{% endblock %} {% block
content %}
<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">All Subjects</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    {% for subject in subjects %}
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h3 class="fs-2 text-body-emphasis">{{subject.name}}</h3>
        <p class="card-text">{{subject.description}}</p>
        <p><a href="#" class="icon-link"> Edit subject</a></p>
        <p>
          <a
            href="{{url_for('delete_subject',id=subject.id)}}"
            class="icon-link"
          >
            delete subject</a
          >
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<a
  href="{{url_for('add_subject')}}"
  class="btn btn-primary d-inline-flex align-items-center"
  type="button"
>
  Add Subject
</a>
{% endblock %}
