{% extends 'header.html' %} {% block title %}Task{% endblock %} {% block content
%}
<p>task_name | subject | deadline | priority | status | memo</p>
<ul class="list-group">
  {% for task in tasks %}
  <li class="list-group-item">
    <input
      class="form-check-input me-1"
      type="checkbox"
      value=""
      id="firstCheckbox"
    />
    <label class="form-check-label" for="firstCheckbox"
      >{{task.name}} {{task.subject.name}} {{task.deadline}} {{task.priority}}
      {{task.status}} {{task.memo}}</label
    >
  </li>
  {% endfor %}
</ul>
<a
  href="{{url_for('add_task')}}"
  class="btn btn-primary d-inline-flex align-items-center"
  type="button"
>
  Add Task
</a>
{% endblock %}
